body {
  background-color: green;
}

.image {
  text-align: center;
}

a:link {
  color:blue;
}

a:visited {
  color:red;
}

a:hover{
  color:grey;
}

.footer{
  margin: auto;
  width: 78px;
  background: black;
  padding: 1em;
}
 h1 {
  text-align: center;
 }

#plant_list{
  background-position: center;
  background-image: url(images/Plant_Potter.jpg);
  background-repeat: no-repeat;
  min-height: 300px;
  height:650px;
  font: 20px bolder ;
  color: white;
  font-family: cursive;
}

.plant_type {
  margin-left: 40%;
  padding-top: 10px;
}