body {
  background-color: green;
}

.image {
  padding-left: 40%;
}

table {
  margin: 20%;
}

a:link {
  color:blue;
}

a:visited {
  color:red;
}

a:hover{
  color:grey;
}

.footer{
  margin: auto;
  width: 78px;
  background: black;
  padding: 1em;
}

.plant_list{
  background-image: url(/images/Plant_Potter.jpg);
}

.web_image {
  background-image: url(https://openclipart.org/download/174186/Pot001.svg);
}