body {
  background-color: green;
}

.image {
  margin: auto;
}

a:link {
  color:blue;
}

a:visited {
  color:red;
}

a:hover{
  color:grey;
}

.footer{
  margin: auto;
  width: 78px;
  background: black;
  padding: 1em;
}

.plant_list{
  background-image: url(/images/Plant_Potter.jpg);
  background-size: cover;
}
